*{
    font-family:'SpoqaHanSansNeo', "sans-serif";
    color: #767676;
}

a {
    display: block;
    text-decoration: none;
    color: #767676;
}

body{
    background-color: #F2F2F2;
}

/* head-login design */
article.art-login{
    position: relative;
    box-sizing: border-box;
    width: 520px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 20px auto;

}

.head-login{
    border-bottom: 1px solid #C4C4C4;;
    text-align: center;

}

.head-login .txt-title{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    margin: 20px auto 18px;
}

.head-login .btn-close {
    position: absolute;
    top: 22px;
    right: 24px;
    width: 16px;
    height: 16px;
    background-image: url("images/close.png");
    background-size: cover;
    border-style: none;
    background-color: #FFFFFF;
}

/* form-login design */
.form-login{
    padding: 26px 24px 25px;
}

.form-login .txt-login {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}

.form-login .input-id, .form-login .input-pw {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.form-login .input-id{
    margin-bottom: 10px;
}

.input-id::placeholder, .input-pw::placeholder{
    padding-left: 16px;
}

/* hold design */
.label-hold{
    display: inline-block;
    height: 22px;
    margin: 16px 0 20px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.label-hold::before{
    display: inline-block;
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: -5px;
    background-image: url("images/check-box.png");
    background-size: cover;
}

.inp-hold:checked + .label-hold::before{
    background-image: url("images/check-box-blue.png");
    background-size: cover;
}

/* button.btn-login design */
button.btn-login{
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background-color: #2F80ED;
    padding: 0;
    cursor: pointer;
}

/* div.link-help */
div.link-help{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 20px 0 30px;

}

.link-help .find-idpw::before{
    display: block;
    float: left;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #767676;
    margin: 1px 12px 0;
}

/* span.txt-or design */
.txt-or{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    gap: 1em;
    margin-bottom: 20px;
}

.txt-or::before, .txt-or::after{
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #C4C4C4;
}

/* a[class^="btn"] design */
a[class^="btn"]{
box-sizing: border-box;
width: 100%;
font-size: 16px;
font-weight: 500;
line-height: 50px;
border: 1px solid #767676;
border-radius: 5px;
background-color: #FFFFFF;
margin-top: 10px;
text-align: center;
}

a[class^="btn"]::before{
    float: left;
    content: "";
    width: 28px;
    height: 28px;
    margin: 11px 0 11px 12px;
    display: block;
    background-image: url(images/css_sprites.png);
    background-size: 76px 76px;
}

a.btn-google::before{
    background-position: -5px -5px;
}

a.btn-facebook{
    border-color: #2D9CDB;
}

a.btn-facebook::before{
    background-position: -43px -5px;
}

a.btn-naver{
    border-color: #00BF18;
}

a.btn-naver::before{
    background-position: -5px -43px;
}

a.btn-kakao{
    border-color: #F2C94C;
}

a.btn-kakao::before{
    background-position: -43px -43px;
}
